@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

@import "tailwindcss";

@theme {
  --font-bebas: 'Bebas Neue', sans-serif;
  --font-mono: 'JetBrains Mono', sans-serif;
}

::selection {
  background: #c1d908ad;
  color: rgb(255, 255, 255);
}

@theme {
  --color-secondary: #c1d908;
}

h1{
  @apply font-bebas;
}

p{
  @apply font-mono;
}

body {
  @apply bg-black overflow-x-clip;
}

html {
  scroll-behavior: smooth;
}

.custom-blink-effect {
  animation: plainBlink 0.4s ease-in-out 2 alternate;
}

@keyframes plainBlink {
  0%, 100% { 
    opacity: 1; 
  }
  50% { 
    opacity: 0.2; 
  }
}